<html lang='jp'>
<head>
	<meta charset='UTF-8'>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>俺のサイト</title>
	<link rel="stylesheet" href='/static/css/screen.css' />
	<link rel="shortcut icon" type="image/png" href="/static/img/Icon.png" /> 
    <link rel="apple-touch-icon-precomposed" href="/static/img/Icon@2x.png" /> 

</head>
<body>
    <div id='id-main'>
    	<div class='cs-header'>
    		<div class='cs-header-title'>俺のサイト</div>
    		<div id='id-logo' class='cs-header-logo'>LOGO</div>
    	</div>
		<div class='cs-side'>
			<div class='cs-side-inner'>
				<ul class='cs-side-ul'>
					<li id='id-link1' class='cs-side-li'>iphone5c video direct</li>
					<li id='id-link2' class='cs-side-li'>test</li>
					<li id='id-link3' class='cs-side-li'>test</li>
				</ul>
			</div>
		</div>
        <div class='cs-content'>
            <div id='id-content-body' class='cs-content-body'>
            </div>
        </div>
		<div class='cs-clear'></div>
    	<div class='cs-footer'>フッター</div>
	</div>
	<script type='text/javascript' src='/static/libs/jquery-2.0.3.min.js'></script>
    <script type='text/javascript' src='/static/libs/underscore-min.js'></script>
	<script type='text/javascript' src='/static/js/app.js'></script>
	
</body>
</html>