/** 基本レイアウト */
body{
	margin: 0;
	font: 14px/21px "Lucida Grande", "Lucida Sans Unicode", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif;
	background-color: #3498db;
}

/** ヘッダー */
.cs-header{
	position: relative;
	padding: .6em 1em;
	width: 100%;
	color: #FFF;
	
	box-shadow: 0 0 2px rgba(255, 255, 255, .25);
	-webkit-box-shadow: 0 0 2px rgba(255, 255, 255, .25);
	-moz-box-shadow: 0 0 2px rgba(255, 255, 255, .25);
}

.cs-header-logo{
	position: absolute;
	top: 0;
	margin-top: .5em;
	width: 7em;
	background-color: #FFF;
	color: #3498db;
	border-radius: 1px;
	text-align: center;
}
.cs-header-logo:hover{
	background-color: #2ecc71;
	color: #FFF;
}

.cs-header-title{
	width: 100%;
	text-align: center;
}

/** コンテンツ */
.cs-content{
	width: 100%;
	background-color: #FFF;
}

.cs-content-inner{
	float:left;
	width: 100%;
}

.cs-content-body{
	background-color: #FFF;
	margin: 0 0 0 16em;
	min-height: 1000px;
}

/** サイトバー */
.cs-side{
	float:left;
	margin-left: -100%;
	width: 14em;
	padding: 1em;
	background-color: #2ecc71;
}

.cs-side-inner{
	min-height: 1000px;
	border-radius: 2px;
	box-shadow: 0 0 2px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, .25);
}

.cs-side-ul{
	padding-left: 1em;
}

.cs-side-li{
	list-style-type: none;
}

/** フッター */
.cs-footer{
	line-height: 2.5em;
	height: 2.5em;
	width: 100%;
	color: #FFF;
	
	text-align: center;
}

/** 共通部 */
.cs-clear{
	clear: both;
}

a:link{
	color: #FFF;
	text-decoration: none;
}
a:visited{
	color: #FFF;
	text-decoration: none;
}

/** コンテンツ */
.cs-test{
}
